.about {
  margin-bottom: 50px;
}

.about__list {
  max-height: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  @include r(910) {
    max-height: 350px;
  }
  @include r(600) {
    max-height: none;
  }
}

.about__title {
  margin-bottom: 5px;
}

.about__description {
  margin-bottom: 24px;
}

.about__item {
  margin-bottom: 6px; 
  width: 260px;
}
