.about {
  margin-bottom: 50px;
}

.about__list {
  height: 260px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;

  @include r(910) {
    height: 360px;
  }
  
  @include r(600) {
    height: auto;
  }
}

.about__title {
  margin-bottom: 5px;
}

.about__description {
  margin-bottom: 24px;
}

.about__item {
  margin-bottom: 6px; 
  width: 260px;
}
