section.about
  h2.title.about__title Расскажите о себе чекбоксами
  p.description.about__description Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.

  ul.about__list
    include ../checkbox/checkbox
    -
      var data = [
        {label: 'БЭМ/OOCSS', checked: true}, 
        {label: 'Pug (Jade)', checked: true},
        {label: 'Stylus/LESS/SASS', checked: true},
        {label: 'Работаю с SVG', checked: false},
        {label: 'Верстаю семантично', checked: true},
        {label: 'Accessibility (A11Y)', checked: false},
        {label: 'ES2015/ES2016', checked: true},
        {label: 'Gulp/GRUNT', checked: true},
        {label: 'Webpack', checked: false},
        {label: 'Дружу с WebGL', checked: false},
        {label: 'jQuery', checked: true},
        {label: 'Знаю/изучаю Angular', checked: false},
        {label: 'Знаю/изучаю React', checked: true},
        {label: 'Знаю/изучаю Node.js', checked: false},
        {label: 'Использую Git', checked: true},
        {label: 'С глазомером всё ок', checked: true},
        {label: 'Читаю blog.csssr.ru', checked: false},
        {label: 'Я ленивый(-ая)', checked: false},
        {label: 'У меня хороший английский', checked: false}
      ];
    each val in data
      li.about__item      
        +checkbox(val.label, val.checked)
