.check {
  display: block;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  font-size: 21px;
  color: #000;
}

.check__input {
  position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;

  &:checked + .check__box:after {
    display: block;    
  }

  &:focus + .check__box {
    border: 1px solid $brown;
  }

  &:disabled + .check__box {
    opacity: .5;
  }
}

.check__box {
  position: absolute;
  left: 0;
  top: 6px;
  width: 19px;
  height: 19px;
  background-image: url(../img/box.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid transparent;
  
  &:after {
    content: "";
    display: none;
    width: 21px;
    height: 27px;
    position: absolute;
    top: -50%;
    left: 3px;
    background-image: url(../img/check.png);
    outline: none;
  }
}