section.info
  h2.visually-hidden Информация
  ul.info__list
    li.info__item.field
      label.field__label(for="infoName") Полное ФИО
      input.field__input(type="text", placeholder="Иванов Иван Иванович", id="infoName", value="Смагулов Темирлан Темиржанович")
    li.info__item.field
      label.field__label(for="infoBurnDate") Год рождения
      input.field__input(type="text", placeholder="1990", id="infoBurnDate", value="1998")
    li.info__item.field
      label.field__label(for="infoLocation") Место жительства
      input.field__input(type="text", placeholder="г. Иваново, Россия", id="infoLocation", value="г. Караганда, Казахстан")
    li.info__item.field
      label.field__label(for="infoSkype") Скайп
      input.field__input(type="text", placeholder="ivanov", id="infoSkype", value="temir9881")
    li.info__item.field
      label.field__label(for="infoEmail") Почта
      input.field__input(type="text", placeholder="ivanov@gmail.com", id="infoEmail", value="bamblebee988@gmail.com")