section.future
  h2.title.future__title Какие у вас планы на будущее?
  p.description.future__description Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.

  ul.future__list
    li.future__item
      label.radio
        input(type="radio", name="future").radio__input
        span.radio__circle
        | Верстать
    li.future__item
      label.radio
        input(type="radio", name="future", checked).radio__input
        span.radio__circle
        | Прокачиваться в JS
    li.future__item
      label.radio
        input(type="radio", name="future").radio__input
        span.radio__circle
        | Менеджерство
    li.future__item
      label.radio
        input(type="radio", name="future").radio__input
        span.radio__circle
        | Другое
