section.future
  h2.title.future__title Какие у вас планы на будущее?
  p.description.future__description Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.

  ul.future__list
    include ../radio/radio
    -
      var dataRadio = [
        {label: 'Верстать', checked: false, name: 'future'}, 
        {label: 'Прокачиваться в JS', checked: true, name: 'future'},
        {label: 'Менеджерство', checked: false, name: 'future'},
        {label: 'Другое', checked: false, name: 'future'}
      ];
    each val in dataRadio
      li.future__item   
        +radio(val.label, val.checked, val.name)
