.future__title {
  margin-bottom: 3px;
}
.future__description {
  margin-bottom: 15px;
}
.future__list {
  display: flex;
}
.future__item {
  margin-right: 19px;
  &:last-child {
    margin-right: 0;
  }
}
