section.about-myself
  h2.title.about-myself__title Расскажите о себе словами
  p.description.about-myself__description Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.

  textarea(placeholder="Ну-ууу-уу..., \nЭэээ...").about-myself__textarea