section.js-skill
  h2.title.js-skill__title Уровень владения JavaScript
  
  .js-skill__slider#range
    span.js-skill__point Не владею
    span.js-skill__point Использую готовые решения
    span.js-skill__point Использую готовые решения и умею их переделывать
    span.js-skill__point Пишу сложный JS с нуля
    //- input(type="range").js-skill__range